@use 'abstracts';
@use 'base';

@mixin button($br: 0.6rem) {
  cursor: pointer;
  border-radius: $br;
}

%settings-option {
  display: flex;
  justify-content: space-between;
}
%settings-input {
  border-radius: 0.3rem;
  background-color: var(--gray);
  border: 1px solid var(--very-light-green);
  width: 4rem;
  height: 1.3rem;
  margin-top: -0.2rem;
}

body {
  background-color: var(--very-light-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  height: 100vh;

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    margin-top: 10vh;
    width: 100%;
    height: 45vh;
    font-family: var(--primary-font);

    .heading-1 {
      color: var(--semi-light-white);
      font-size: 4rem;
      font-weight: 700;
      text-shadow: 1px 2px 1px var(--brown);
      text-align: center;
      margin-bottom: 2rem;
      width: 90%;
    }

    .remaining-time {
      @include button;
      background-color: var(--semi-light-white);
      color: var(--brown);
      padding: 1.5rem 6rem;
      font-size: 2rem;
      box-shadow: 2px 2px 10px rgba(0, 2, 4, 0.1);
    }

    #settings {
      @include button(0);
      position: absolute;
      left: calc(100% - 5rem);
      top: calc(100% - 5rem);
      background-image: url('./../assets/settings.svg');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 1rem;
    }

    .settings-popup {
      background-color: var(--semi-light-white);
      padding: 2rem 2rem;
      width: 20rem;
      height: 21rem;
      position: absolute;
      top: calc(100% - 30rem);
      left: calc(100% - 22rem);
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      font-size: 0.9rem;
      color: var(--brown);
      justify-content: flex-start;
      border-radius: 10px;
      visibility: hidden;
      box-shadow: 2px 2px 10px rgba(0, 2, 4, 0.1);

      &::after {
        content: '';
        background-color: var(--semi-light-white);
        position: absolute;
        top: calc(21rem - 0.6rem);
        padding: 0.6rem;
        transform: rotate(45deg);
        left: calc(20rem - 3rem);
      }

      label {
        font-weight: 700;
      }

      &__session-time {
        @extend %settings-option;

        &__input {
          @extend %settings-input;
        }
      }

      &__break-time {
        @extend %settings-option;

        &__input {
          @extend %settings-input;
        }
      }

      &__session-count {
        @extend %settings-option;

        &__input {
          @extend %settings-input;
        }
      }
    }
  }

  footer {
    width: 100%;
    p {
      margin-bottom: 1.5rem;
      text-align: center;
      color: var(--semi-light-white);

      a {
        color: var(--blue);
        cursor: pointer;
      }
    }
  }
}

#settings-popup.active {
  visibility: visible;
}
